<div class="w3-row-padding noBottomPadding">
		<!-- <script type="text/ng-template" id = "/home.html"> -->
			<div class = "left w3-col w3-container w3-hide-small w3-hide-medium l3">
				<img src="img/logo.png" class="logo">
			</div>
			<div class = "middle w3-col w3-container l6">
				<p class = "title">NOW PLAYING</p>
				<div class="image-cropper">
					<div class="imageHolder">
						<img ng-src="{{main.nowPlaying.albumUrl ? main.nowPlaying.albumUrl : 'img/noImg.png'}}"
							class = "songImg"/>
						<img src="img/circle.png" class = "border"/>
					</div>

				</div>
				<p class = "songname">{{main.nowPlaying.songName.toUpperCase()}}</p>
				<p class = "songartist">{{main.nowPlaying.artist.toUpperCase()}}</p>

				<label class="switch">
					<input id = "playCheck" type="checkbox" ng-click = "main.toggleSound()" ng-model="main.isStreaming">
					<div class="slider round"></div>
				</label>
				<p class="playCaption">Play Music On This Device</p>
			</div>

			<div class="right w3-col w3-container l3">

				<p class = "lastPlayed">LAST PLAYED</p>
				<div class = "lastPlayedLine">
					<hr>
				</div>
				<div class = "lastPlayedSection">
					<div class = "songInfo">
						<p class = "playlistSong">{{main.nowPlaying.lpSongName}}</p>
						<p class = "playlistArtist">{{main.nowPlaying.lpArtist}}</p>
					</div>
				</div>

				<div id = "targetArea" class = "searchArea">
					<input type="text" name="search" placeholder="Search or Add Songs..."
								ng-model="searchString" class="style-4 rightInput" id="search_bar">

					<!-- PLAYLIST - NO SEARCH -->
					<div ng-if = "!main.searchResults" class = "songList">
						<div class = "songInfo2"
										ng-repeat = "song in main.playlist">
							<div id = "song-{{$index}}" class = "listSongWrapper">
								<div class = "songStuff">
									<div class = 'playlistSongInfoArea'>
										<div class="spacer">
										</div>
										<p class = "playlistSong">{{song.songName}}</p>
										<p class = "playlistArtist">{{song.artist}}</p>
										<div class="spacer">
										</div>
									</div>

									<div class = 'playlistSongLikeArea'>
										<div class='like-wrapper'>
											<a class='like-button'
												ng-class = "{liked: song.iUpvoted}"
												ng-click = "main.toggleClick($event, song.id)">
												<span class='like-icon'>
													<div class='heart-animation-1'></div>
													<div class='heart-animation-2'></div>
												</span>
											</a>
										</div>
										<p class="hi">{{song.upvotes.length}}</p>
									</div>

								</div>
								<hr class = "fadedLine">
							</div>
						</div>
					</div>


					<!-- PLAYLIST - Results for SEARCH -->
					<div ng-if = "main.searchResults" class = "songList">
						<div class = "songInfo2"
										ng-repeat = "song in main.searchList">
							<div id = "song-{{$index}}" class = "listSongWrapper">
								<div class = "songStuff">
									<div class = 'playlistSongInfoArea'>
										<div class="spacer">
										</div>
										<p class = "playlistSong">{{song.songName}}</p>
										<p class = "playlistArtist">{{song.artist}}</p>
										<div class="spacer">
										</div>
									</div>
									<div class = 'playlistSongLikeArea'>
										<div class='add-wrapper' ng-show="!this.classList.contains('add')">
											<a class='add-button add'
												ng-click = "main.addClick($event, song.id, $index)" ng-show = "!this.classList.contains('add')">
												<img src="img/plus.png" class="add-icon">
											</a>
										</div>
										<p class="hi">{{song.upvotes.length}}</p>
									</div>

								</div>
								<hr class = "fadedLine">
							</div>
						</div>
					</div>
				</div>

			</div>
			</div>
			<audio id = "audioElement" autoplay="false" src="{{main.isStreaming ? main.nowPlaying.songUrl : ''}}">
				Oh No! Your browser doesn't support audio
			</audio>
		<!-- </script> -->