
<div class="w3-row-padding noBottomPadding">
<!-- <script type="text/ng-template" id = "/home.html"> -->
	<div class = "middle2 w3-col w3-container l12">
		<img src="img/logo.png" class = "logo2"/>
		<p class = "songname2 shimmer">Welcome to Jam</p>
		<p class = "songartist3 mobileBump">Enter Existing Room ID Below</p>
		<div class = "textArea1">
			<input type="text" name="search" placeholder="Enter Room ID"
							ng-model="searchString" class="style-4 textArea1" id="search_bar">

		</div>
		<div class="textArea3">
			<span class="button2" ng-click="main.enterExistingRoom()">Enter</span>
		</div>
		<p class = "songartist3 or">OR</p>
		<div class = "textArea2">
			<!-- <a href="#" class="button"> -->
			<p class = "songartist2 underMargin">Create A Room</p>
			<input type="text" name="search" placeholder="Enter Room Name"
							ng-model="roomName" class="style-4 textArea4" id="room_name">
			<div class = "space20"></div>
			<input type="text" name="search" placeholder="Enter Host Key"
							ng-model="hostKey" class="style-4 textArea4" id="host_key">
			<div class = "space"></div>
			<span class="button2" ng-click="main.createRoom()">Create</span>
			<!-- </a> -->
		</div>
	</div>
</div>
